.page-container {
  height: 100%;
  
  .header-dashboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    padding: 0.2rem 2rem;
    margin-bottom: 0.8rem;
    text-align: center;
    .user-personal-data{
      display: flex;
      align-items: center;
      .wallet {
        margin-right: 0.8rem;
        display: flex;
        align-items: center;

        .amount-value {
          margin-right: 0.5rem;
        }
      }
    }
  }
  
  .dashboard-footer { 
    /* Its only for while */
    margin: 0 1rem;
  }
}



