.sign-in-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    border-radius: 0.8rem;
    width: 30rem;    
}

.line-form {
    border-bottom: #FFF 1px solid;
    padding-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.form-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}